# Advanced Sets
In this lecture we will learn about the various methods for sets that you may not have seen yet. We'll go over the basic ones you already know and then dive a little deeper.

Definition :- A set is a collection of unique Data. It means elements of set can not be duplicated.

In [1]:
#ways to create sets
s = set() # way to create empty set
#create a set of integer type
student_id = {112,114,115,116,118,115}
print("Student ID :" , student_id)

#create a set of string type
vowel_letters = {'a','i','e','o','u','u','i','a'}
print("Vowels are :" , vowel_letters)

#create a set of mixed data type 

mixed_set = {'hello',101,-2,'Bye'}
print("Set of mixed data type :" ,mixed_set)

Student ID : {112, 114, 115, 116, 118}
Vowels are : {'u', 'a', 'i', 'e', 'o'}
Set of mixed data type : {'Bye', 'hello', 101, -2}

# add
add elements to a set. Remember, a set won't duplicate elements; it will only present them once (that's why it's called a set!)

In [2]:
s.add(1)

In [3]:
s.add(2)

In [4]:
s

{1, 2}

## clear
removes all elements from the set

In [5]:
s.clear()

In [6]:
s

set()

## copy
returns a copy of the set. Note it is a copy, so changes to the original don't effect the copy.

In [7]:
s = {1,2,3}
sc = s.copy()

In [8]:
sc

{1, 2, 3}

In [9]:
s

{1, 2, 3}

In [10]:
s.add(4)

In [11]:
s

{1, 2, 3, 4}

In [12]:
sc

{1, 2, 3}

In [13]:
#Update Python set
companies = {"Lacoste","Ralph Lauren"}
tech_comapnies = {"apple","google","apple"}
companies.update(tech_comapnies)
companies

{'Lacoste', 'Ralph Lauren', 'apple', 'google'}

In [14]:
S1={1,2,3,4} 
S2={2,3,4,5}

## difference
difference returns the difference of two or more sets. The syntax is:

    set1.difference(set2)
For example:

In [16]:
S1.difference(S2)  #s=  1,2,3,4 sc= 1,2,3

{1}

## difference_update
difference_update syntax is:

    set1.difference_update(set2)
the method returns set1 after removing elements found in set2

In [17]:
s1 = {1,2,3}

In [18]:
s2 = {1,4,5}

In [19]:
s1.difference_update(s2)

In [20]:
s1

{2, 3}

## discard
Removes an element from a set if it is a member. If the element is not a member, do nothing.

In [21]:
s

{1, 2, 3, 4}

In [24]:
s.discard(4)

In [25]:
s

{1, 2, 3}

## intersection and intersection_update
Returns the intersection of two or more sets as a new set.(i.e. elements that are common to all of the sets.)

In [33]:
s1 = {1,2,3}

In [34]:
s2 = {30,2,4}

In [35]:
s1.intersection(s2)

{2}

In [30]:
s2

{1, 2, 4}

intersection_update will update a set with the intersection of itself and another.

In [36]:
s1.intersection_update(s2)

In [37]:
s1

{2}

## isdisjoint
This method will return True if two sets have a null intersection.

In [40]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [38]:
s1.isdisjoint(s2)

False

In [41]:
s1.isdisjoint(s3)

True

## issubset
This method reports whether another set contains this set.

In [42]:
s1

{1, 2}

In [43]:
s2

{1, 2, 4}

In [44]:
#s1.discard(3)
s1.issubset(s2)

True

## issuperset
This method will report whether this set contains another set.

In [45]:
s2.issuperset(s1)

True

In [46]:
s1.issuperset(s2)

False

## symmetric_difference and symmetric_update
Return the symmetric difference of two sets as a new set.(i.e. all elements that are in exactly one of the sets.)

In [47]:
s1

{1, 2}

In [48]:
s2

{1, 2, 4}

In [49]:
s1.symmetric_difference(s2)

{4}

In [50]:
A={'a','b','c','d'}
B={'c','d','e'}
result =  A.symmetric_difference(B)
result

{'a', 'b', 'e'}

#symmetric_difference_update - > it finds the symmetric difference of two sets(non-similar items of both the sets) and 
update it to the set that calls the method

In [51]:
A={'a','c','d'}
B={'c','d','e'}
A.symmetric_difference_update(B)
A

{'a', 'e'}

## union
Returns the union of two sets (i.e. all elements that are in either set.)

In [52]:
s1.union(s2)

{1, 2, 4}

## update
Update a set with the union of itself and others.

In [53]:
s1.update(s2)

In [54]:
s1

{1, 2, 4}

# Frozen Sets
Frozen sets in Python are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

If no parameters are passed, it returns an empty frozenset.

In [55]:
# Same as {"a", "b","c"}
normal_set = set(["a", "b","c"])
 
print("Normal Set")
print(normal_set)
 
# A frozen set
frozen_set = frozenset(["e", "f", "g"])
 
print("\nFrozen Set")
print(frozen_set)
 
# Uncommenting below line would cause error as
# we are trying to add element to a frozen set
#frozen_set.add("h")

Normal Set
{'a', 'c', 'b'}

Frozen Set
frozenset({'g', 'e', 'f'})

In [56]:
#wap to iterate over set
for s in s1:
    print(s)

1
2
4

In [57]:
#wap to find number of items in a set
even_numbers = {2,4,6,8,10,12,14,16}
print("Total elements in set are :", len(even_numbers))

Total elements in set are : 8

In [59]:
# wap to check if sets are equal
s1={3,4,5}
s2={4,3,5}
if s1==s2:
    print("s1 and s2 are equal")
else:
    print("They are not equal")

s1 and s2 are equal

In [61]:
#wap to find identical items from two sets.
set1 = {10,20,30,40,50}
set2= { 30,40,50,60,70 }

#set1.union(set2)
set2 - set1
set1.intersection(set2)

{30, 40, 50}

#Set operators
1. | for set Union
2. & for set intersection
3. - for set difference
4. ^ for symmetric difference

Frozen sets - frozenset() It returns an immutable frozenset object initialized with elements from the given iterable. It is immutable version of Python set object

In [54]:
vowels = ('a','i','e','o','u')
fset = frozenset(vowels)
print("The frozen set is: ", fset)
fset.append("3")

The frozen set is:  frozenset({'e', 'u', 'a', 'i', 'o'})

AttributeError: 'frozenset' object has no attribute 'append'

Frozenset operations -  Like normal sets frozenset can also perform different operations like copy,difference,intersection,union

In [62]:
A= frozenset([1,2,3,4])
B= frozenset([3,4,5,6])

#copying a frozenset
C = A.copy()
print("Copied set C is :" , C)

#union
print("Union of frozen set is :" ,A.union(B))

#intersection
print("Intersection of frozen set is :" , A&B)

#difference
print("Difference of frozen set is :" , A-B)

#symmetric difference
print("symmetrix difference of frozen set is :", A^B)

#isdisjoint() method
C= frozenset([5,6])
print("Is A and C is disjoint? :" ,A.isdisjoint(C))

#issubset() method
print("Is C a subset of B :", B.issubset(C))

#issuperset() method
print("Is B a superset of C :" , B.issuperset(C))

Copied set C is : frozenset({1, 2, 3, 4})
Union of frozen set is : frozenset({1, 2, 3, 4, 5, 6})
Intersection of frozen set is : frozenset({3, 4})
Difference of frozen set is : frozenset({1, 2})
symmetrix difference of frozen set is : frozenset({1, 2, 5, 6})
Is A and C is disjoint? : True
Is C a subset of B : False
Is B a superset of C : True

Difference between set and frozenset
1.Frozen set is immutable where as sets are mutable
2.Forzen are always created on some iterable objects but sets can be empty.

In [2]:
pip install mrjob

Collecting mrjob
  Downloading mrjob-0.7.4-py2.py3-none-any.whl (439 kB)
Requirement already satisfied: PyYAML>=3.10 in c:\users\divyajyoti kumar\appdata\roaming\python\python39\site-packages (from mrjob) (6.0)
Installing collected packages: mrjob
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to write executable - trying to use .deleteme logic
ERROR: Could not install packages due to an OSError: [WinError 2] The system cannot find the file specified: 'C:\\Python39\\Scripts\\mrjob.exe' -> 'C:\\Python39\\Scripts\\mrjob.exe.deleteme'

WARNING: You are using pip version 21.1.3; however, version 24.0 is available.
You should consider upgrading via the 'C:\Python39\python.exe -m pip install --upgrade pip' command.

In [ ]:
from mrjob.job import MRJOB
from mrjob.step import MRSTEPS

Great! You should now have a complete awareness of all the methods available to you for a set object type. This data structure is extremely useful and is underutilized by beginners, so try to keep it in mind!

Good Job!