# Advanced Lists

In this series of lectures we will be diving a little deeper into all the methods available in a list object. These aren't officially "advanced" features, just methods that you wouldn't typically encounter without some additional exploring. It's pretty likely that you've already encountered some of these yourself!

Let's begin!

In [1]:
list1 = [123,'String',True,12.3]
list2 = list(('Strings','d',123,12.3))
list2

['Strings', 'd', 123, 12.3]

## append
You will definitely have used this method by now, which merely appends an element to the end of a list:

In [2]:
list1.append((13,45))
list1

[123, 'String', True, 12.3, (13, 45)]

## count
We discussed this during the methods lectures, but here it is again. <code>count()</code> takes in an element and returns the number of times it occurs in your list:

In [3]:
list1.count(123)

1

In [4]:
list1.count(2)

0

## extend
Many times people find the difference between extend and append to be unclear. So note:

**append: appends whole object at end:**

In [7]:
x = [1, 2, 3]
x.append((4,8))
print(x)

[1, 2, 3, (4, 8)]

**extend: extends list by appending elements from the iterable:**

In [5]:
x = [1, 2, 3]
x.extend((4, 5))
print(x)

[1, 2, 3, 4, 5]

Note how <code>extend()</code> appends each element from the passed-in list. That is the key difference.

## index
<code>index()</code> will return the index of whatever element is placed as an argument. Note: If the the element is not in the list an error is raised.

In [6]:
list1.index(123)

0

In [7]:
list1.index(12)

ValueError: 12 is not in list

## insert 
<code>insert()</code> takes in two arguments: <code>insert(index,object)</code> This method places the object at the index supplied. For example:

In [8]:
list1

[123, 'String', True, 12.3, (13, 45)]

In [9]:
# Place a letter at the index 2
list1.insert(2,'inserted')
list1

[123, 'String', 'inserted', True, 12.3, (13, 45)]

In [10]:
list1=[12,34,55,True,34.5]
list1

[12, 34, 55, True, 34.5]

## pop
You most likely have already seen <code>pop()</code>, which allows us to "pop" off the last element of a list. However, by passing an index position you can remove and return a specific element.

In [11]:
ele = list1.pop()  # pop the second element
ele

34.5

In [13]:
list1

[12, 34, 55, True]

In [14]:
list1.pop(2)

55

In [15]:
list1

[12, 34, True]

## remove
The <code>remove()</code> method removes the first occurrence of a value. For example:

In [16]:
list1

[12, 34, True]

In [17]:
del list1

In [18]:
list1

NameError: name 'list1' is not defined

In [19]:
list2 = [1,2,3,4,3]

In [24]:
list2.remove(3)

ValueError: list.remove(x): x not in list

In [23]:
list2

[1, 2, 4]

## reverse
As you might have guessed, <code>reverse()</code> reverses a list. Note this occurs in place! Meaning it affects your list permanently.

In [25]:
list2.reverse()

In [26]:
list2

[4, 2, 1]

## sort
The <code>sort()</code> method will sort your list in place:

In [27]:
list2

[4, 2, 1]

In [28]:
list2.sort()
list2

[1, 2, 4]

In [31]:
list3 = ['apple',12,13.6,'w']
list4=  ['zpple','orange','umbrella']
list4.sort()
list4

['orange', 'umbrella', 'zpple']

The <code>sort()</code> method takes an optional argument for reverse sorting. Note this is different than simply reversing the order of items.

In [32]:
list2.sort(reverse=True)

In [33]:
list2

[4, 3, 2, 1]

## Be Careful With Assignment!
A common programming mistake is to assume you can assign a modified list to a new variable. While this typically works with immutable objects like strings and tuples:

In [32]:
x = 'hello world'

In [33]:
y = x.upper()

In [34]:
print(x)
print(y)

hello world
HELLO WORLD

This will NOT work the same way with lists:

In [37]:
x = [1,2,3]

In [38]:
y=x
y.append(4)

In [40]:
print(y)

[1, 2, 3, 4]

What happened? In this case, since list methods like <code>append()</code> affect the list *in-place*, the operation returns a None value. This is what was passed to **y**. In order to retain **x** you would have to assign a *copy* of **x** to **y**, and then modify **y**:

In [41]:
x = [1,2,3]
y = x.copy()
y.append(4)

In [42]:
print(x)

[1, 2, 3]

In [43]:
print(y)

[1, 2, 3, 4]

Great! You should now have an understanding of all the methods available for a list in Python!

**Example programs based on string Data structures**

In [45]:
#WAP to check if a list contains an element
li = [1,2,3,4,'a','b','c']
23 in li

False

In [47]:
# wap which iterate over 2+ lists at the same time
name = ['snowball','chewy','bubbles','Gruff']
animal = ['cat','dog','Fish','Goat']
age=[1,2,3,4,6]  #6 gets ignored as it is outside the range.
#[('snowball','cat',1),()]
#x = name+ animal+ age
z= zip(name,animal,age)

for name,animal,age in z:
    print("%s the %s is %s" %(name,animal,age))

snowball the cat is 1
chewy the dog is 2
bubbles the Fish is 3
Gruff the Goat is 4

In [48]:
#wap to remove duplicate values in list
li = [3,3,4,4,5,5,5,5,5,8]
list(set(li))

[8, 3, 4, 5]

In [55]:
#Wap to remove all the values from list
fruit = ['pear','orange','apple']
fruit.clear()
fruit

[]

In [49]:
#wap to iterate over both the values and index of list
grocery_list = ['flour','cheese','carrots']
for index,value in enumerate(grocery_list):
    print("%s: %s "%(index,value))

0: flour
1: cheese
2: carrots

In [50]:
list(enumerate(grocery_list))

[(0, 'flour'), (1, 'cheese'), (2, 'carrots')]

In [51]:
#Wap to concatenate two list
one = ['a','b','c']
two = [1,2,3]
one+two

['a', 'b', 'c', 1, 2, 3]

In [52]:
#Wap to manipulate every element in list using comprehension
li = [0,25,50,100]
[i**2 for i in li]

[0, 625, 2500, 10000]

In [53]:
#DeepCopy Shallow copy 
old_list = [[1,2,3],[4,5,6],[7,8,'a']]
new_list = old_list
old_list.append(45)
print(new_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 'a'], 45]

In [54]:
import copy
new_list = copy.copy(old_list)  # [[1, 2, 3], [4, 5, 6], [7, 8, 'a'], 45]
old_list[3] = 'new'
print(new_list)
old_list

[[1, 2, 3], [4, 5, 6], [7, 8, 'a'], 45]

[[1, 2, 3], [4, 5, 6], [7, 8, 'a'], 'new']

In [55]:
old_list[2][2] ='b'
print(new_list)
print(old_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 'b'], 45]
[[1, 2, 3], [4, 5, 6], [7, 8, 'b'], 'new']

In [56]:
new_list = copy.deepcopy(old_list)
old_list[2][2] = 'z'
print("New list....:",new_list)
print("Old List.....:",old_list)

New list....: [[1, 2, 3], [4, 5, 6], [7, 8, 'b'], 'new']
Old List.....: [[1, 2, 3], [4, 5, 6], [7, 8, 'z'], 'new']

In [57]:
len(old_list)

4

In [59]:
#Wap to multiply every element by 5 with map function
def multiply(val):
    return val*5
a= [10,20,30,40,50]
[val for val in map(multiply,a)]

[50, 100, 150, 200, 250]

In [60]:
#wap to subtract values in a list from the first element with the reduce function
from functools import reduce

def subtract(a,b):
    return a-b
number = [100,10,5,1,2,7,5]

reduce(subtract,number)

70

In [58]:
#Wap to remove negative values from a list with filter function
def remove_negatives(x):
    return True if x>=0 else False

a=[-10,27,1000,-1,0,-30]
[x for x in filter(remove_negatives,a)]

[27, 1000, 0]

In [65]:
#wap to convert list to Dictionary

li = ['the','quick','brown','fox','was','quick']
d = {k:1 for k in li}
d

{'the': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'was': 1}

In [61]:
#wap to remove all elements after a specific index
li = [1,2,3,4,5,5,6,6,7,7,8,89,9233,455,546,6,657,57,576678,343,45,342,5453,4]
li[10:]

[8, 89, 9233, 455, 546, 6, 657, 57, 576678, 343, 45, 342, 5453, 4]

In [67]:
li[10:20]

[8, 89, 9233, 455, 546, 6, 657, 57, 576678, 343]

In [62]:
# wap to filter even values out of list with comprehension
li = [1,2,43,44,556,6677,8888]
[i for i in li if i%2 ==0]

[2, 44, 556, 8888]

In [2]:
#wap to get the first element from each nested list in a list

li = [[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]
[i[1] for i in li]

[2, 5, 8, 11, 14]

In [3]:
#wap to find the most frequent element from the list
my_list =['a','a','a','b','c','d','d','e']
most_frequent = max(set(my_list),key=my_list.count)
print("The most frequent element is :",most_frequent)

The most frequent element is : a

In [4]:
def most_frequent_element(lst):
    element_count = {}
    for element in lst:
        if element in element_count:
            element_count[element] += 1
        else:
            element_count[element] = 1
    
    most_frequent = None
    max_count = 0
    for element, count in element_count.items():
        if count > max_count:
            most_frequent = element
            max_count = count
    
    return most_frequent


my_list = ["a","a","a","a","a","b","b","b","b"]
result = most_frequent_element(my_list)
print("The most frequent element is:", result)

The most frequent element is: a

In [10]:
#wap to flatten a list of list using list comprehension

list_of_list = [[1,2],[3,4],[5,6],[7,8]]

my_list = [item for List in list_of_list for item in List]
print("Flatten list is :,",my_list)

print([list1 for list1 in list_of_list])

Flatten list is :, [1, 2, 3, 4, 5, 6, 7, 8]
[[1, 2], [3, 4], [5, 6], [7, 8]]

Consider a list (list=[]) In this you have to perform the following commands.
 1.insert(i,e): insert integer e at position i 
 2.print : print the list
 3.remove(e):deletes the first occurance of e.
 4.append(e) Inserts integer e at the end of the list.
 5.Sort: Sort the list
 6.pop: pop the last elements from the list
 7.reverse: reverses the list
 
 Initialise your list and read in the value of n followed by n lines of commands where each command will be of the 7 types listed above. iterate through each command in order and perform the corresponding operation on your list.
 
 Example 
 N=4
 append 1
 append 2
 insert 3 1
 print
 
 list = [1,3,2]