# Advanced Python Objects Test

## Advanced Numbers

**Problem 1: Convert 1024 to binary and hexadecimal representation**

**Problem 2: Round 5.23222 to two decimal places**

## Advanced Strings
**Problem 3: Check if every letter in the string s is lower case**

In [ ]:
s = 'hello how are you Mary, are you feeling okay?'

**Problem 4: How many times does the letter 'w' show up in the string below?**

In [ ]:
s = 'twywywtwywbwhsjhwuwshshwuwwwjdjdid'

## Advanced Sets
**Problem 5: Find the elements in set1 that are not in set2:**

In [ ]:
set1 = {2,3,1,5,6,8}
set2 = {3,1,7,5,6,8}

**Problem 6: Find all elements that are in either set:**

## Advanced Dictionaries

**Problem 7: Create this dictionary:
{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}
 using a dictionary comprehension.**

## Advanced Lists

**Problem 8: Reverse the list below:**

In [ ]:
list1 = [1,2,3,4]

**Problem 9: Sort the list below:**

list2 = [3,4,2,5,1]

# Advanced Sets

1. Does Convertiing an object to a set maintain the object order? 
Ans - No

2. Can we use comparison operator to compare two different sets? 
Ans - Yes

3.Is set a subset of itself?
Ans- yes

In [ ]:
#4.
a=[5,5,6,7,7,7]
b= set(a)
def test(lst):
    if lst in b:
        return 1
    else:
        return 0
for i in filter(test,a):
    print( i ,end=" ")

In [ ]:
which creats an empty set?
a.{}
b.set()
c.[]
d.()

In [1]:
a={4,5,6}
b={2,8,6}
print(a+b)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [2]:
a={4,5,6}
b={2,8,6}
print(a-b)

{4, 5}

In [3]:
s={5,6}
print(s*3)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [4]:
a={3,4,{7,5}}
print(a[2][0])

TypeError: unhashable type: 'set'

# Great Job!