In [ ]:
#Touples in python
#Touple is created by placing all the items inside () in separated commas.

In [2]:
#Different types of touple
#Empty touple
my_touple = ()
my_touple
#Touple having integers
int_touple = (1,2,3)
int_touple
#touple with mixed datatypes
mixed_touple = (1,"Hello",3.4)
mixed_touple
#nested touple
nested_touple =("mouse",[8,4,6],(1,2,3))
nested_touple

('mouse', [8, 4, 6], (1, 2, 3))

In [3]:
var1 = ("Hello")
print(type(var1))
var2 = ("Hello",)
print(type(var2))

<class 'str'>
<class 'tuple'>

# Access tuple
#1.Indexing

In [4]:
#Index operator = []
tup = 12,"Value","Hello",12.8,90
tup[2] #accessing the 3rd value

'Hello'

In [5]:
#2Negative indexing
tup[-1] #Fetch last element of tuple

90

In [6]:
#3Slicing [:]
tup[2:]

('Hello', 12.8, 90)

# Python Tuple Methods

In [7]:
#count
tup.count(12)

1

In [8]:
#index 
tup.index("Hello")

2

In [9]:
#Iterating through a tuple in python
for val in tup:
    print(val)

12
Value
Hello
12.8
90

In [10]:
#check if a item exist in a tuple
print(13 in tup)

False

#Advantage of tuple over list in Pyhton
1.Generally tuple used for heterogeneous data types and list for homogeneous data type
2.Since tuple is immutable, iterating through tuple is faster than list
3.Touples that contains immutable elements can be used as key for dictionary but with list this is not possible
4.if you have date that does not change, implementing it as tuple will guarantee that it remains write protected.

In [11]:
#Wap to print sum of tuple elements
test_tup = (7,5,9,1,10,3)
print("The original tuple is : " + str(test_tup))
res = sum(list(test_tup))
print("The sum of all tuple elements are : " + str(res))

The original tuple is : (7, 5, 9, 1, 10, 3)
The sum of all tuple elements are : 35

In [12]:
#Wap which accepts comma separated value from user and generate a list and tuple 
values = input("Input comma separated numbers : ")
list = values.split(",")
tuple1 = tuple(list)
print("List : ", list)
print("Tuple :", tuple1)

Input comma separated numbers : 12,34,56,7,88,90,0
List :  ['12', '34', '56', '7', '88', '90', '0']
Tuple : ('12', '34', '56', '7', '88', '90', '0')

In [13]:
#wap to remove all tuples of length K
tuple_list = [(1,4),(9,4,2),(4,5,6,8),(2,6,8),(3,0,1),(4,4,1),(1,)]
k=3
print("Initial list : " + str(tuple_list))
filteredList = [tup for tup in tuple_list if(len(tup)!=k)]
print("List of tuples after removing tuple of length k : " + str(filteredList))

Initial list : [(1, 4), (9, 4, 2), (4, 5, 6, 8), (2, 6, 8), (3, 0, 1), (4, 4, 1), (1,)]
List of tuples after removing tuple of length k : [(1, 4), (4, 5, 6, 8), (1,)]

In [14]:
#Wap to Extract digits from tuple list
from itertools import chain
list = [(4,62),(2,65),(5,9),(0,1)]
print("The list is : " + str(list))

valmap = map(lambda ele: str(ele),chain.from_iterable(list))
uniqueDigists = set()
for values in valmap:
    for digits in values:
        uniqueDigists.add(int(digits))

print(" Unique digits of the set are : " + str(uniqueDigists))

The list is : [(4, 62), (2, 65), (5, 9), (0, 1)]
 Unique digits of the set are : {0, 1, 2, 4, 5, 6, 9}

In [15]:
#Concatenate a tuple
tuple1 = (0,1,2,3)
tuple2 = ('python','Geek')

print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'Geek')

In [17]:
#Nesting of Tuples
tuple1 = (0,1,2,3)
tuple2 = ('python','Geek')

tuple3 = (tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'Geek'))

In [18]:
#Repeatition in Tuples
tup3 = ('python',)*3
print(tup3)

('python', 'python', 'python')

In [19]:
#Deleting a tuple
tup = (12,3,4,5)
del tup
print(tup)

NameError: name 'tup' is not defined

In [20]:
#Converting a list to Tuple
list1= [0,1,2,3]
x =tuple(list1)
print(x)

(0, 1, 2, 3)

In [25]:
test_list = [('GFG','IS','BEST'),('GFg','AVERAGE'),("GFg",),("GFG","Cs")]

#method1: USing loop
print("Original List : " + str(test_list))
res_list= []
for sub in test_list:
    res= True
    for ele in sub:
        if not ele.isupper():
            res=False
            break
    if res:
        res_list.append(sub)
print("Filtered tuple : ", res_list)

#Time Complexity = O(n^2)
#space complexity = O(n)

Original List : [('GFG', 'IS', 'BEST'), ('GFg', 'AVERAGE'), ('GFg',), ('GFG', 'Cs')]
Filtered tuple :  [('GFG', 'IS', 'BEST')]

In [26]:
#method 2 : Using list comphrehension + all() + isupper()
print("Original List : " + str(test_list))

res = [sub for sub in test_list if all(ele.isupper() for ele in sub)]
print("Filtered tuple : ", res)

#Time Complexity = O(n*m)
#space complexity = O(k) where k is number of tuples that satisfy the condition

Original List : [('GFG', 'IS', 'BEST'), ('GFg', 'AVERAGE'), ('GFg',), ('GFG', 'Cs')]
Filtered tuple :  [('GFG', 'IS', 'BEST')]

In [32]:
#method 3

print("Original List : " + str(test_list))

res = (filter(lambda x: all(map(str.isupper,x)),test_list))

for x in res:
    print("Filtered tuple : ", x)

Original List : [('GFG', 'IS', 'BEST'), ('GFg', 'AVERAGE'), ('GFg',), ('GFG', 'Cs')]
Filtered tuple :  ('GFG', 'IS', 'BEST')