___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [1]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [2]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [3]:
df.to_csv('example.csv',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [3]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Excel Output

In [6]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [15]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)')
df1 = pd.read_html('https://en.wikipedia.org/wiki/List_of_districts_of_Himachal_Pradesh')
df1

[    S. No.          District Headquarters  Established  Area (km2)  \
 0        1          Bilaspur     Bilaspur         1954        1167
 1        2            Chamba       Chamba         1948        6522
 2        3          Hamirpur     Hamirpur         1972        1118
 3        4            Kangra   Dharamsala         1972        5739
 4        5           Kinnaur  Reckong Peo         1960        6401
 5        6             Kullu        Kullu         1963        5503
 6        7  Lahaul and Spiti      Kyelang         1960        7835
 7        8             Mandi        mandi         1948        3950
 8        9            Shimla       Shimla         1972        5131
 9       10           Sirmaur        Nahan         1948        2825
 10      11             Solan        Solan         1972        1936
 11      12               Una          Una         1972        1540

     Population (2011 census)[1]  Population density (/km2)  Map
 0                        381956                        327  NaN
 1                        519080                         80  NaN
 2                        454768                        407  NaN
 3                       1510075                        263  NaN
 4                         84121                         13  NaN
 5                        437903                         80  NaN
 6                         18564                          1  NaN
 7                         26422                        250  NaN
 8                        814010                        159  NaN
 9                        529855                        188  NaN
 10                       580320                        300  NaN
 11                       521173                        338  NaN  ,
    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteState of Himachal Pradesh  \
 0                                     Capital: Shimla
 1                                              Topics
 2                                             History
 3                                             Culture
 4                                        Jurisdiction
 5                             Districts and divisions
 6                                     Kangra division
 7                                      Mandi division
 8                                     Shimla division
 9                                        Major cities
 10                                            Economy
 11                                          Geography
 12                                  Images and others

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteState of Himachal Pradesh.1
 0                                     Capital: Shimla
 1                                           Education
 2   Prehistory and protohistory Early history Mugh...
 3   Arts and crafts Languages Music Traditional da...
 4   Chief Ministers Governors High Court Governmen...
 5   Kangra division Chamba Kangra Una Mandi divisi...
 6                                   Chamba Kangra Una
 7       Bilaspur Hamirpur Kullu Lahul and Spiti Mandi
 8                        Kinnaur Shimla Sirmaur Solan
 9   Shimla Solan Nahan Mandi Sundar Nagar Dharamshala
 10  Animal husbandry Hydroelectric power Industry ...
 11  Lakes Rivers Climate Protected areas Highest p...
 12  Image gallery at Wikimedia Commons Bhanupli–Le...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ,
                  0                                              1
 0  Kangra division                              Chamba Kangra Una
 1   Mandi division  Bilaspur Hamirpur Kullu Lahul and Spiti Mandi
 2  Shimla division                   Kinnaur Shimla Sirmaur Solan,
   vteGeography of Himachal Pradesh  \
 0                            Lakes
 1                           Rivers
 2                        Districts
 3                            Other

                   vteGeography of Himachal Pradesh.1  \
 0  Renuka Lake Maharana Pratap Sagar Gobind Sagar...
 1                     Beas Chenab Ravi Sutlej Yamuna
 2  Bilaspur Chamba Hamirpur Kangra Kinnaur Kullu ...
 3  Climate of Himachal Pradesh Protected areas of...

    vteGeography of Himachal Pradesh.2
 0                                 NaN
 1                                 NaN
 2                                 NaN
 3                                 NaN  ,
   vte Districts of states and union territories of India  \
 0                                             States
 1                                  Union territories
 2                                     Related topics

   vte Districts of states and union territories of India.1  \
 0  Andhra Pradesh Arunachal Pradesh Assam Bihar C...
 1  Andaman and Nicobar Islands Chandigarh Dadra a...
 2  List of administrative divisions of India List...

    vte Districts of states and union territories of India.2
 0                                                NaN
 1                                                NaN
 2                                                NaN         ]

In [13]:
df1 = pd.DataFrame(df)
df1

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (2,) + inhomogeneous part.

____

_____
_____
# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('sqlite:///:memory:')

In [6]:
df.to_sql('data', engine)

4

In [7]:
sql_df = pd.read_sql('data',con=engine)

In [8]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

# Great Job!