In [1]:
#How to create a DataFrame?
import pandas as pd
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

Q2. How to create a series from a list , numpy array and dict?

In [2]:
#input
import numpy as np 
mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr =  np.arange(26)
mydicts = dict(zip(mylist,myarr))

#solution
ser1 = pd.Series(mylist)
ser2= pd.Series(myarr)
ser3 = pd.Series(mydicts)
print(ser3.head())

a    0
b    1
c    2
d    3
e    4
dtype: int32

Q3. How to combine many series to form a DataFrame ?

In [5]:
df = pd.concat([ser1,ser2],axis=1)

df1 = pd.DataFrame({'Col1' :ser1,'Col2' : ser2})
df1

   Col1  Col2
0     a     0
1     b     1
2     c     2
3     d     3
4     e     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

Q4. How to assign name to the Series index?

In [6]:
ser1.name = 'alphabets'
ser1

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

Q5. How to get the itesm of series A not present in Series B

In [7]:
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([4,5,6,7,8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

Q6. How to convert a numpy array to dataframe of given shape?
input = pd.Series(np.random.randint(1,10,35))      - 7*5

Q7. How to find the positions of a numbers that are multiples of 3 from a series.
 input  - ser = pd.Series(np.random.randint(1,10,7))   #use argwhere

Q8. How to set the number of rows and columns displayed in the output.

Q9. How to get the row number of the nth largest value in a column?
   Find the row position of the 5th largest value of column 'a' in df.
   
   df = pd.DataFrame(np.random.randint(1,30,30).reshape(10,-1),columns = list('abc'))