In this chapter, we will discuss the string operations with our basic Series/Index. In the subsequent chapters, we will learn how to apply these string functions on the DataFrame.

Pandas provides a set of string functions which make it easy to operate on string data. Most importantly, these functions ignore (or exclude) missing/NaN values.

Almost, all of these methods work with Python string functions (refer: https://docs.python.org/3/library/stdtypes.html#string-methods). So, convert the Series Object to String Object and then perform the operation.

Let us now see how each operation performs.

1	
lower()

Converts strings in the Series/Index to lower case.

2	
upper()

Converts strings in the Series/Index to upper case.

3	
len()

Computes String length().

4	
strip()

Helps strip whitespace(including newline) from each string in the Series/index from both the sides.

5	
split(' ')

Splits each string with the given pattern.

6	
cat(sep=' ')

Concatenates the series/index elements with given separator.

7	
get_dummies()

Returns the DataFrame with One-Hot Encoded values.

8	
contains(pattern)

Returns a Boolean value True for each element if the substring contains in the element, else False.

9	
replace(a,b)

Replaces the value a with the value b.

10	
repeat(value)

Repeats each element with specified number of times.

11	
count(pattern)

Returns count of appearance of pattern in each element.

12	
startswith(pattern)

Returns true if the element in the Series/Index starts with the pattern.

13	
endswith(pattern)

Returns true if the element in the Series/Index ends with the pattern.

14	
find(pattern)

Returns the first position of the first occurrence of the pattern.

15	
findall(pattern)

Returns a list of all occurrence of the pattern.

16	
swapcase

Swaps the case lower/upper.

17	
islower()

Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean

18	
isupper()

Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.

19	
isnumeric()

Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean.

Let us now create a Series and see how all the above functions work.

In [1]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print(type(s))

<class 'pandas.core.series.Series'>

In [2]:
# lower()

s.str.lower()

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

In [3]:
#upper()
s.str.upper()

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

In [6]:
#len()
s.str.len()

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [7]:
#Strip

print ("After Stripping:")
s.str.strip()

After Stripping:

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

In [9]:
s.str.istitle()

0     True
1     True
2     True
3    False
4      NaN
5    False
6    False
dtype: object